<%= simple_form_for(@ticket) do |f| %>
  <%= f.error_notification %>

  <div id="tickets-form" class="form-inputs">
    <div class="span4">
      <%= f.input :story, :input_html => { :class => "span4" } %>
      <%= f.input :pithy_tag, :input_html => { :class => "span4" } %>
      <%= f.input :description, :input_html => { :class => "span4" } %>
    </div>

    <div class="span4">
      <%= f.input :requirements_points, :wrapper => :prepend, :label => false do %>
        <%#= content_tag :span, "Requirements Points", :class => "add-on" %>
        <%= f.input :requirements_points %>
      <% end %>
      <%= f.input :development_points, :wrapper => :prepend, :label => false do %>
        <%#= content_tag :span, "Development Points", :class => "add-on" %>
        <%= f.input :development_points %>
      <% end %>

      <%= f.association :board %>
    </div>

    <div class="span4 well">
      <%= f.label :column_id, "Column" %>
      <%= f.select :column_id, {}, {} %>
    </div>

    <div class="span4 well">
      <%= f.label :row_id, "Row" %>
      <%= f.select :row_id, {}, {} %>
    </div>
  </div>

  <div class="form-actions span8">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
