<h1>Listing tickets</h1>

<table>
  <thead>
    <tr>
      <th>Story</th>
      <th>Pithy tag</th>
      <th>Description</th>
      <th>Requirements points</th>
      <th>Development points</th>
      <th>Board</th>
      <th>Column</th>
      <th>Row</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.story %></td>
        <td><%= ticket.pithy_tag %></td>
        <td><%= ticket.description %></td>
        <td><%= ticket.requirements_points %></td>
        <td><%= ticket.development_points %></td>
        <td><%= ticket.board_id %></td>
        <td><%= ticket.column_id %></td>
        <td><%= ticket.row_id %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
