<p id="notice"><%= notice %></p>

<p>
  <strong>Story:</strong>
  <%= @ticket.story %>
</p>

<p>
  <strong>Pithy tag:</strong>
  <%= @ticket.pithy_tag %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Requirements points:</strong>
  <%= @ticket.requirements_points %>
</p>

<p>
  <strong>Development points:</strong>
  <%= @ticket.development_points %>
</p>

<p>
  <strong>Board:</strong>
  <%= link_to @ticket.board.name, @ticket.board %>
</p>

<p>
  <strong>Current Column:</strong>
  <%= @ticket.column.label %>
</p>

<p>
  <strong>Current Row:</strong>
  <%= @ticket.row.label %>
</p>

<%= link_to raw("<i class=\"fa fa-edit\"></i>"), edit_ticket_path(@ticket) %> |
<%= link_to 'All Tickets', tickets_path %>
