<%= simple_nested_form_for(@board) do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% @board.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Board Options</h2>
  <%= f.input :name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Name", :class => "add-on" %>
    <%= f.input_field :name %>
  <% end %>

  <h2>Columns and Options</h2>
  <div id="board_columns">
    <%= f.fields_for :columns %>
  </div>
  

  <h2>Rows and Options</h2>
  <div id="board_rows">
    <%= f.fields_for :rows %>
  </div>

  <div class="form-actions">  
    <%= f.button :submit, class: 'btn-primary' %>
    <%= f.link_to_add "Add a Row", :rows, "data-target" => "#board_rows", class: "btn btn-primary" %>
    <%= f.link_to_add "Add a Column", :columns, "data-target" => "#board_columns", class: "btn btn-primary" %>
    <%= submit_tag 'Reset', type: :reset, class: "btn btn-danger" %>
  </div>
<% end %>