<div class="field">
  <%= f.input :label, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Row Name", :class => "add-on" %>
    <%= f.input_field :label %>
  <% end %>
  <%= f.input :order, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Sort Order", :class => "add-on" %>
    <%= f.input_field :order %>
  <% end %>
</div>
<div class="controls">
	<p><%= f.link_to_remove "Remove Row", class: "btn btn-primary" %></p>
</div>