<h1><%= @board.name %></h1> 
<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>

<div id="labels">
	<div id="columns">
		<% @columns.order(:order).each do |c| %>
			<h4 class="column_header "><%= c.label %></h4>
		<% end %>
	</div>
	<div id="container" data-columns="<%= @columns.count %>" data-rows="<%= @rows.count %>"></div>
  <div id="rows">
		<% @rows.order(:order).each do |r| %>
			<div class="row_header"><h4><%= r.label %></h4></div>
		<% end %>
	</div>
</div>