<%= simple_form_for(@row) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :board_id %>
    <%= f.input :order %>
    <%= f.input :label %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
